.header{
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: cornflowerblue;
}
.wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid;
    height: 100%;
    width: 80vw;
}